{% extends 'base.html.twig' %}

{% block title %}Accueil de mon blog{% endblock %}


{% block header %}<!-- Page Header -->
<header class="masthead" style="background-image: url('{% if 'https://' in article.picture or 'http://' in article.picture %}{{ article.picture }} {% else %}{{ vich_uploader_asset(article, 'imageFile') }} {% endif %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ article.title }}</h1>
                    <span class="meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        {{ article.createdAt | date('Y-m-d')}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
<article>
    {{ article.content | raw }}
</article>
{% endblock %}
